

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
    --green: #1bad5d;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;  
    
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
    
}

.contenedor--modifier{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}

.navHero{
    color: #1bad5d;
    height: 10em;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navContenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    padding: 0;
    
}

.nombreLogo{
    font-size: 4em;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 1000;
    font-size: 18px;
    padding: 1em;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linkActivo{
    color: var(--gold1);
    font-weight: 700;
}

.point{
    color: var(--gold1);
}

.point2 {
    color: var(--green);
}



.heroMain{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}

.mockup{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.heroTextos{
    width: 48%;
}

.titulo{
    font-size: 56px;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 1em;
}

.titluloActivo{
    color: whitesmoke;
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: whitesmoke;
    text-shadow: var(--shadow)  var(--color_shadow);
    margin-bottom: 1em;
}

.copyActivo{
    font-weight: 700;
    color: var(--gold1);
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

/* servicios */

.servicios{
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-bottom: 1px solid rgba(255,255,255, 0.1);

}

.subtitulo{
    font-size: 42px;
    color: whitesmoke;
    margin-bottom: 1em;
    text-align: center;
}

.subtitulo--modifier{
    text-align: center;
    margin-bottom: 12em;
}

.copySeccion{
    color: whitesmoke;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 4em;
    text-align: center;
}

.copySeccion--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.contenedor-cards{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    width: 33%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 30%, rgba(192, 192, 192, 0.384) 100%);
    border-radius: 2em;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
    color: whitesmoke;
   

}

.cardImg{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cardsText{
    text-align: left;
    width: 90%;
    margin:0 auto;
}

.cardLista{
    color: whitesmoke;
    font-weight: 1000;
    margin: 25px 0 12px ;
    font-size: 24px;
    margin-bottom: 1em;
}


.cardTitulo{
    font-size: 44px;
    color: var(--green);
    margin-bottom: 1em;
}

.cardCopy{
    color: whitesmoke;
    margin-bottom: 1em;
}

.cardBoton{
    display: block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
    font-size: 22px;
}


/* Pie de pagina */


footer{
    background-color: var(--black1);

}

.pie {
    height: auto;
    width: auto;
    display: flex;
}

.pieDePagina{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 30em;
    width: auto;
    
}

.siguenosEn {
    display: flex;
    font-size: 2em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    

}


.tituloFooter{
    font-size: 24px;
    text-align: center;
    color: var(--green);
    width: 70%;

}


.footerCopy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;
}

.getEmail{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    
}

.socialmedia{
    margin-top: 1em;
    display: flex;

}

.socialmediaIcon{
    font-size: 44px;
    margin: 10px;
    color: var(--gold2);
}

.socialmediaLegend{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    font-size: 24px;
}

.newsletter{
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    height: 3em;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}

.newsletter--modifier{
    margin: 0;
    width: 80%;
}

.newsletterInput{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1)
}

.newsletterSubmit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, var(--black2) 50%, var(--black1) 100%);
    color: var(--gold2);
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}






@media screen and (max-width:500px){
    .mockup{
        width: 80%;
        margin-bottom: 15px;
    }

    .servicios .card{
        width: 95%;
    }

    .card{
        width: 95%;
    }

    .contenedor--modifier{
        width: 90%;
    }



}

@media screen and (max-width:700px){
    main .contenedor,
    footer .contenedor{
        padding: 60px 0;
    }

    .navContenedor{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navHero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        padding: 7px 10px;
    }


    .heroMain{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    .heroTextos{
        width: 100%;
        text-align: center;
    }

    .mockup{
        width: 60%;
        margin-bottom: 20px;
    }

    .titulo{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitulo{
        font-size: 35px;
        text-align: center;
    }

    .copySeccion{
        font-size: 20px;
        text-align: center;
    }

    .servicios .card{
        width: 80%;
    }


    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .cardTitulo{
        font-size: 35px;
    }

    .cardBoton{
        width: 100%;
    }
}



